---
import Flutter from "./icons/Flutter.astro"
import React from "./icons/React.astro"
import Tailwind from "./icons/Tailwind.astro"
import Dart from "./icons/Dart.astro"

const TAGS = {
  REACT: {
    name: 'React.js',
    icon: React,
    class: 'bg-gray-800',
  },
  TAILWIND: {
    name: 'Tailwind CSS',
    icon: Tailwind,
    class: 'bg-sky-900 text-white',
  },
  FLUTTER: {
    name: 'Flutter',
    icon: Flutter,
    class: 'bg-white text-blue-400',
  },
  DART: {
    name: 'Dart',
    icon: Dart,
    class: 'bg-white text-blue-400',
  },
}

const PROJECTS = [
  {
    title: 'Gymlink',
    date: 'January 2024 - March 2024',
    description: 'Gymlink is a comprehensive gym management application that fosters unity among gym administrators, trainers, and clients. This platform serves as a centralized hub, streamlining communication and coordination to enhance the overall gym experience. Admins can efficiently manage operations, trainers can connect with clients more effectively, and clients can access personalized routines seamlessly. Gymlink brings together the key stakeholders in the gym environment, promoting a collaborative and unified approach to fitness management.',
    link: 'https://www.gymlink.tech',
    tags: [TAGS.REACT, TAGS.TAILWIND],
    image: '/img/mockupgymlink.jpg',
  },
  {
    title: 'eMeasure',
    date: 'May 2024 - Today',
    description: 'IN PROGRESS',
    link: '',
    tags: [TAGS.FLUTTER, TAGS.DART],
    image: '',
  }
]
---


{
  PROJECTS.map(({title, description, tags, link, date, image}) => (
    <article class="mt-10">
      <h3 class="text-2xl font-semibold text-yellow-200 mb-2
                  xl:text-3xl">
        {title}</h3>
      <p class="text-lg mb-4 text-pretty">{date}</p>
      <p>{description}</p>
      <img class="my-4 rounded shadow-2xl shadow-white/15" src={image} alt="screenshot of landing page" />
      <ul class="flex flex-row gap-x-2">
        {
          tags.map((tag) => (
            <li>
              <span class={`flex items-center px-2 gap-2 rounded-full my-4 ${tag.class}`}>
                <tag.icon />
                {tag.name}
              </span>
            </li>
          ))
        }
      </ul>
    </article>
  ))
}


